<p style="color: green"><%= notice %></p>

<h1>Jokes requests</h1>

<div id="jokes_requests">
  <% @jokes_requests.each do |jokes_request| %>
    <%= render jokes_request %>
    <p>
      <%= link_to "Show this jokes request", jokes_request %>
    </p>
  <% end %>
</div>

<%= link_to "New jokes request", new_jokes_request_path %>
