<%= render @jokes_request %>

<h2 class="text-lg text-lime-500 text-center font-bold pb-2">Jokes</h2>
<div class="grid grid-cols-3 gap-4 mt-4">
  <% @jokes_request.jokes.each do |joke| %>
    <%= render joke %>
  <% end %>
</div>

<div>
  <%= link_to sanitize("&larr; Back to jokes requests"), jokes_requests_path, class: "mt-4 inline-block text-slate-500" %>
</div>
